<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_smBNxe2GFaxn6eADEDr95LfHyc2Yxhk</string>
	<key>GCM_SENDER_ID</key>
	<string>926945286246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eShop.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-shop-flutter-e829f</string>
	<key>STORAGE_BUCKET</key>
	<string>e-shop-flutter-e829f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926945286246:ios:1ff48ca2cc2033d64ff5a7</string>
</dict>
</plist>